@import 'mixin';

.fylo_accessing_location {
    margin: 4rem 0;
}

.fylo_following-up {
    a {        
        color: hsl(176, 68%, 64%);
    
        .fylo_following-up--arrow {
            width: 60px;
            height: 60px;
            background-color: hsl(176, 68%, 64%);
            color: #000;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }
}

.see_work {
    display: none;
}

@media (min-width: 600px) {
    .fylo_accessing_location {
        margin: 7rem 0;
    }

    .fylo_accessing_location {
        display: grid;
        grid-template-columns: 1fr 40%;
        gap: 5%;
    }
}