@import 'mixin';

.fylo_get-started {
    margin: 4rem 0;
    text-align: center;
}

.fylo_form {
    @include flex-display;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.fylo_start--btn,
.fylo_input--email {
    width: 100%;
}

.fylo_input--email {
    height: 56px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
}

@media (min-width: 375px) {
    .fylo_get-started {
        margin: 6rem 0;
    }

    .fylo_main--content {
        background-color: hsl(219, 30%, 18%);
        padding: 2rem 4rem;
        margin-left: 15%;
    }

    .fylo_form {
        display: grid;
        grid-template-columns: 1fr 35%;
    }
}