@import 'mixin';

.fylo_secure-location--container {
    @include flex-display;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    margin-bottom: 4rem;
}

.fylo_works--nav {
    text-align: center;
    margin: 5rem 0;

    .fylo_works {
        @include flex-display;
        flex-direction: column;
        gap: 5rem;
    }
}

@media (min-width: 375px) {
    .fylo_secure-location--container {
        padding-left: 25%;
    }

    .fylo_works--nav {
        .fylo_works {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (min-width: 600px) {
    .fylo_secure-location--container {
        padding-left: 30%;
        padding-right: 15%;
    }
    
    .fylo_works--nav {
        padding-left: 10%;
        .fylo_works {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}